<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>3593 7209</string>
	<string>8696 8276</string>
	<string>0756 3474</string>
	<string>0626 0504</string>
	<string>9738 7984</string>
	<string>9089 4653</string>
	<string>4025 4836</string>
	<string>7803 9243</string>
	<string>4232 8570</string>
	<string>8303 2952</string>
	<string>4679 4973</string>
	<string>4864 5843</string>
	<string>7069 4342</string>
	<string>9750 5983</string>
	<string>5482 7493</string>
	<string>8904 7265</string>
	<string>5307 9587</string>
	<string>7867 3576</string>
	<string>4562 3602</string>
	<string>3796 8525</string>
	<string>3920 3808</string>
	<string>6328 4097</string>
	<string>3929 0246</string>
	<string>5648 6750</string>
	<string>0370 6976</string>
	<string>2862 6054</string>
	<string>3834 8259</string>
	<string>5290 8079</string>
	<string>2095 3968</string>
	<string>9850 2493</string>
    <string>8457 4635</string>
    <string>0408 9423</string>
    <string>6478 7327</string>
    <string>4305 8928</string>
    <string>7236 5675</string>
    <string>8247 2602</string>
</array>
</plist>
